version: '3.4'

services:
  user-account:
    container_name: user-account
    image: mikhailb/stock-screener/user-account:1.0
    ports:
      - "8081:8080"
    networks:
      - local
  notification:
    container_name: notification
    image: mikhailb/stock-screener/notification:1.0
    networks:
      - local
    ports:
      - "8082:8080"

networks:
  local:
    external: true
