version: '3.1'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    networks:
      - local    
    #network_mode: host

  adminer:
    image: adminer
    restart: always
    ports:
      - 8085:8080
    networks:
      - local

networks:
  local:
    external: true
